/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin: 20px;
  }
  
  .day {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .date-header {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  .btn {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }


  .events-container {
    background-color: #0056b3; /* Replace #gray with the actual gray color code you want to use */
    padding: 20px; /* Or any other value that suits your design */
    margin: auto; /* This will center the container if it has a set width */
    width: 90%; /* Or 100%, depending on your layout requirements */
  }
 
  .event {
    border: 1px solid #0056b3; /* Replace #000000 with the color code for the border */
    margin-bottom: 15px; /* Adds space between events */
    padding: 10px; /* Adds space inside the border */
  }
  